<a href="https://colab.research.google.com/github/vis-hal-k/Python-Tutorials/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
empty_tuple = 'vishal' , 'sneha' ,
# you can add comma at last or not
print(empty_tuple)
print(type(empty_tuple))

('vishal', 'sneha')
<class 'tuple'>

In [ ]:
# If you have single thing in the parenteses and omit that comma, you would not get a tuple, but just the thing i.e string
oneMar = ('Groucho')
print(oneMar)
print(type(oneMar))
#another exp
secMar = (125)
print(secMar)
print(type(secMar))
# Now lets take more than one ele
thir = (25 , 100 )
print(thir)
print(type(thir))
# taking first example but the last one with comma.
four = ('Groucho',)
print(four)
print(type(four))
# You can see after adding comma it become tuple.

Groucho
<class 'str'>
125
<class 'int'>
(25, 100)
<class 'tuple'>
('Groucho',)
<class 'tuple'>

**Tuples are *immutable*; when you assign elements (only once) to a tuple, they're baked in the cake and can't be changed.**

*Lists are mutable*

Tuples let you assign multiple variable at once:

In [ ]:
marx_tuple = ('vishal','sneha', 'rani')
a,b,c = marx_tuple
print("a = ", a)
print("b = ",b)
print("c = ",c)

a =  vishal
b =  sneha
c =  rani

This is something called tuple unpacking.

**You can use tuples to exchange values in one statement without using temporary variable:**

In [ ]:
password = 'swodfish'
icecream = 'tuttifrutti'
password, icecream = icecream, password
print(password)
print(icecream)

tuttifrutti
swodfish

## Tuple Converstion

In [ ]:
list = ['vk','sr','sm']
now_tuple = tuple(list)
now_tuple

('vk', 'sr', 'sm')

In [ ]:
# combine the tuple by using +
conca = ('vishal',) + ('sneha',) + ('rani',)
conca

('vishal', 'sneha', 'rani')

In [ ]:
# Duplicates Items with *
('yana',)*3

('yana', 'yana', 'yana')

In [ ]:
# compare tuples
 # This much work like list comparasion
a = (7,2)
b = (7,2)
print(a==b)
print((0,1200,1) == (0,2,100))
# ! I have DOUBT in this

True
False

In [ ]:
# Iterate with rate with for and in
words = ('fresh','out' , 'of', 'ideas')
for word in words:
   print(word)

fresh
out
of
ideas

## Modify the tuple

In [ ]:
# You can appear to modify a typle like this:
t1 = ('v1' , 's2' , 's3')
t2 = ('flop',)
# did I modify t1 ?
# No
t1 = t1 + t2
t1

('v1', 's2', 's3', 'flop')

But it isn't the same t1. Python made a new tuple from the original tuples pointed to by t1 and t2, and assigned the name t1 to this new tuple. You can see with id() when a variable name is pointing to a new value:

In [ ]:
# Lets verify
t1 = ('v1' , 's2' , 's3')
t2 = ('flop',)
print(id(t1))
t1 = t1 + t2
print(id(t1))

135895388593600
135895424237168

Here above you can see id are different, so both is t1 is different.